body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #e8e7e2;
    background-image: url("../images/bg_typewriter.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

.logo {
	height: 70vw;
	width: 70vw;
	display: flex;
}
